#walruspic {
  width: 400px;
}

#clickhide {
  display: none;
}

#clickhide2 {
  display: none;
}

#fade-in {
  display: none;
  width: 500px;
}

#orca1 {
  color: blue;
  font-weight: bolder;
}

#orca1:hover {
  text-decoration: line-through;
  cursor: cell;
}
.buttons {
  text-align: right
}
.dark-background {
  color: white;
  background: black;
}
.light-background {
  color: black;
  background: grey;
}


.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.clickable {
  color: blue;
  font-weight: bold;
}

.clickable:hover {
  text-decoration: underline;
  cursor: alias;
}

.orcafly {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}

.linktext {
  color: white;
}
